
$palettePrimaryMain: #F5F7FB;
$palettePrimaryDark: #2E354E;
$paletteWhite: #FFFFFF;
$paletteRed:#F5464B;
$paletteYellow: #F9C87A;
$paletteGray: #ADB0B1;
$paletteBlue:#30A7D7;
$paletteSecondaryWhiteOpacity: #ffffff23;

